/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=DIN+Condensed:wght@700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 16px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.gallery {
    display: flex;
    gap: 2px;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    padding: 16px 0;
    flex-wrap: wrap;
}

.photo {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    flex: 1;
    max-width: 25%;
    transition: transform 0.5s ease;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: filter 0.5s ease, transform 0.5s ease;
}

.photo:hover img {
    filter: brightness(100%) grayscale(100%) blur(4px);
    transform: scale(1.05);
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 0 50px;
    opacity: 1;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.photo:hover .caption h2,
.photo:hover .caption p {
    transform: translateY(-20px);
}

.caption h2 {
    font-family: 'DIN Condensed', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    margin-bottom: 8px;
    transition: transform 0.5s ease;
}

.caption p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
    opacity: 0.8;
    transition: transform 0.5s ease;
}

.caption a {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgb(117, 214, 231);
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.photo:hover .caption a {
    opacity: 1;
}

.caption a:hover {
    text-decoration: none;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    max-height: 90vh; /* Ensure modal does not exceed 90% of viewport height */
    background-color: #333;
    border-radius: 10px;
    overflow: auto; /* Allow content within the modal to be scrollable if needed */
    animation: zoom 0.6s;
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.modal-content h2,
.modal-content p {
    padding: 15px;
    text-align: left;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
    }

    .photo {
        max-width: 100%;
    }

    .photo:hover img {
        filter: brightness(100%) grayscale(100%) blur(4px);
    }

    .modal-content {
        width: 95%;
    }
}
